<h1>Games</h1>
<h3>Add a new game:</h3>
<form id="addgame" action="/games" method="post">
    Gaming Company: <select class="m-2" name="gaming_companyInput" required>
        {{#each gaming_company}}
            <option value="{{id}}">{{comp_name}}</option>
        {{/each}}
    </select> <br>
    Game Name: <input type="text" class="m-2" name="gameNameInput" required><br>
    Genre: <select class="m-2" name="genreInput" required>
        {{#each genre}}
            <option value="{{id}}">{{category}}</option>
        {{/each}}
    </select> <br>
    Release Date: <input type="date" class="m-2" name="dateInput"><br>
    Rating: <input type="number" class="m-2" name="ratingInput" min="0" max="100"><br>
    <br>
    <input type="submit" value="Submit">
</form>

<h3>Add a new genre to a game:</h3>
<form id="addnewgenre" action="/game-genre" method="post">
    Game Name: <select class="m-2" name="game_Input" required>
        {{#each game}}
            <option value="{{id}}">{{game_name}}</option>
        {{/each}}
    </select> <br>
    
    Genre: <select class="m-2" name="genreInput" required>
        {{#each genre}}
            <option value="{{id}}">{{category}}</option>
        {{/each}}
    </select> <br>
   
    <br>
    <input type="submit" value="Submit">
</form>

<hr/>
<h3>Current Games:</h3>
<table class="table table-dark bg-secondary">
    <thead> 
        <th>Company Name</th> 
        <th>Game Name</th>
        <th>Genre</th>
        <th>Release Date</th>
        <th>Rating</th>
    </thead> 
    <tbody> 
        {{#each game}} 
            <tr> 
                <td>{{comp_name}}</td>
                <td>{{game_name}}</td>
                <td>{{category}}</td>
                <td>{{release_date}}</td>
                <td>{{rating}}</td> 
                <td>
                    <a class="btn btn-info" href="/games/{{id}}" role="button"><i class="fas fa-edit"></i></a>
                    <button class="btn btn-danger" onclick="deleteGame({{id}})">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr> 
        {{/each}} 
    </tbody> 
</table> 

