<h1>Games</h1>
<h3>Add a new game:</h3>
<form id="addgame" action="/games" method="post">
    Gaming Company: <select class="m-2" name="gaming_companyInput" required>
        {{#each gaming_company}}
            <option value="{{id}}">{{comp_name}}</option>
        {{/each}}
    </select> <br>
    Game Name: <input type="text" class="m-2" name="gameNameInput" required><br>
    Genre: <select class="m-2" name="genreInput" required>
        {{#each genre}}
            <option value="{{id}}">{{category}}</option>
        {{/each}}
    </select> <br>
    Release Date: <input type="date" class="m-2" name="dateInput"><br>
    Rating: <input type="number" class="m-2" name="ratingInput" min="0" max="100"><br>
    <br>
    <input type="submit" value="Submit">
</form>

<hr/>
<h3>Add a new genre to a game:</h3>
<form id="addnewgenre" action="/game-genre" method="post">
    Game Name: <select class="m-2" name="game_Input" required>
        {{#each gameMenu}}
            <option value="{{id}}">{{game_name}}</option>
        {{/each}}
    </select> <br>
    
    Genre: <select class="m-2" name="genreInput" required>
        {{#each genre}}
            <option value="{{id}}">{{category}}</option>
        {{/each}}
    </select> <br>
   
    <br>
    <input type="submit" value="Submit">
</form>

<hr/>
<div id="update" class="hidden">
    <a id="#update">
    <h3>Update Game</h3>
    <form id="updateGame" method="post">
        Gaming Company: <select id="companyUpdate" class="m-2" name="gaming_companyInput" required>
            {{#each gaming_company}}
                <option value="{{id}}">{{comp_name}}</option>
            {{/each}}
        </select> <br>
        Game Name: <input type="text" id="gameUpdate" class="m-2" name="gameNameInput" required /><br>
        Genre: <select id="genreUpdate" class="m-2" name="genreInput" required>
            {{#each genre}}
                <option value="{{id}}">{{category}}</option>
            {{/each}}
        </select> <br>
        Release Date: <input type="date" id="dateUpdate" class="m-2" name="dateInput"><br>
        Rating: <input type="number" id="ratingUpdate" class="m-2" name="ratingInput" min="0" max="100"><br>
        <br>
        <input type="hidden" id="oldGenre" name="oldGenre">
        <input type="submit" value="Update" />
        <button type="button" id="cancelUpdate" onClick="hideUpdate()">Cancel</button>
    </form>
</div>

<hr/>
<h3>Current Games:</h3>
<table class="table table-dark bg-secondary">
    <thead> 
        <th>Company Name</th> 
        <th>Game Name</th>
        <th>Genre</th>
        <th>Release Date</th>
        <th>Rating</th>
    </thead> 
    <tbody> 
        {{#each game}} 
            <tr id="tr{{id}}"> 
                <td>{{comp_name}}</td>
                <td>{{game_name}}</td>
                <td>{{category}}</td>
                <td>{{release_date}}</td>
                <td>{{rating}}</td> 
                <td>
                    <a href="#update">
                        <button id="editBtn{{id}}" class="btn btn-info" onclick="updateGameForm({{id}})">
                            <i class="fas fa-edit"></i>
                        </button>
                    </a>
                    <button class="btn btn-danger" onclick="deleteGame({{id}})">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr> 
        {{/each}} 
    </tbody> 
</table> 

