<!-- Jumbotron -->	
<h1>Gaming Stock Likes Database</h1>
<h3>Gaming Companies:</h3>
<table class="table table-dark bg-secondary">
    <thead> 
        <th>Company Name</th> 
        <th>Ticker Symbol</th>
        <th>Latest Stock Price</th>
        <th>Twitter URL</th>
        <th>Latest Buzz Factor</th>
        <th>Games</th>
    </thead> 
    <tbody> 
        {{#each gaming_company}}
        <tr> 
            <td>{{comp_name}}</td>
            <td>{{ticker}}</td> 
            <td>{{price_close}}</td> 
            <td><a href="{{url}}" target="_blank">{{url}}</a></td> 
            <td>{{buzz}}</td>  
            <td>{{game_name}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 