<h1>Twitter Pages</h1>
<h3>Add a new gaming company Twitter Page:</h3>
<form id="addtwitter" action="/twitters" method="post">
    Gaming Company: <select class="m-2" name="gaming_companyInput" required>
        {{#each gaming_company}}
            <option value="{{id}}">{{comp_name}}</option>
        {{/each}}
    </select> <br>
    Company Twitter URL: <input type="text" id="urlInput" class="m-2" name="urlInput" placeholder="EX: https://twitter.com/NintendoAmerica" size="50"> <br>
    Date: <input type="date" class="m-2" name="dateInput" required><br>
    <strong>Buzz Factor will be found automagically based on the Twitter URL provided above.</strong><br>
    <br>
    <input type="submit" value="Submit">
</form>
<hr/>
<h3>Current Twitter Pages:</h3>
<table class="table table-dark bg-secondary">
    <thead> 
        <th>Company Name</th> 
        <th>URL</th>
        <th>Date</th>
        <th>Buzz Factor</th>
    </thead> 
    <tbody> 
        {{#each twitter}} 
            <tr> 
                <td>{{comp_name}}</td>
                <td>{{url}}</td>
                <td>{{date}}</td>
                <td>{{buzz}}</td> 
                <td>
                    <a class="btn btn-info" href="/twitters/{{id}}" role="button"><i class="fas fa-edit"></i></a>
                    <button class="btn btn-danger" onclick="deleteCompany({{id}})">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr> 
        {{/each}} 
    </tbody> 
</table> 

